<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="XFTesterIF_UI.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Ivi.Visa" publicKeyToken="a128c98f1d7717c1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.0.0" newVersion="5.8.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <XFTesterIF_UI.UserSettings>
      <setting name="TesterIFProtocol" serializeAs="String">
        <value>MTGPIB</value>
      </setting>
      <setting name="TestHandlingMode" serializeAs="String">
        <value>Synchronous</value>
      </setting>
      <setting name="TesterIFType" serializeAs="String">
        <value>NIGPIB</value>
      </setting>
      <setting name="DatabaseType" serializeAs="String">
        <value>Sqlite</value>
      </setting>
      <setting name="GpibCardAddress" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="RS232PortAddress" serializeAs="String">
        <value />
      </setting>
      <setting name="HandlerAddress" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="CommTimeout" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="MTDUT_CS1" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="MTDUT_CS2" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="MTDUT_CS3" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="MTDUT_CS4" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="CS_MTDUT" serializeAs="String">
        <value>6521</value>
      </setting>
    </XFTesterIF_UI.UserSettings>
  </userSettings>
</configuration>